WUD_ADMIN_USER=admin@example.com
WUD_ADMIN_HASH=CHANGE_ME_GENERATE_HTPASSWD_HASH
FROMSERVER=ChangeHostName
URLAPP=DnsName.example.com
SSL_DOMAIN=example.com
SMTP_HOST=smtp.example.com
SMTP_USER=no-reply@example.com
SMTP_PASS=change-me
SMTP_TO=suporte@example.com
DOCKERHUB_TOKEN=change-me
