BOOKSTACK_VERSION=latest
URLAPP=wiki.example.com
SSL_DOMAIN=example.com
APP_KEY=base64:CHANGE_ME_GENERATE_A_NEW_APP_KEY
DB_HOST=db.example.local
DB_USER=bookstack_user
DB_PASS=change-me
DB_DATABASE=bookstack_db
