# Criado em: 15/09/2026
# Modificado em: 15/09/2026
# Copiar para ".env" e preencher com valores reais. ".env" nunca é versionado.

ACME_EMAIL=admin@example.com
TRAEFIK_DASHBOARD_HOST=traefik.example.com
